body {
    --text-warning: #EAAF00;
    --text-success: green;
}

.initiative-tracker-add-player-modal .has-error {
    border-color: var(--background-modifier-error-hover);
}

.initiative-tracker-additional-container {
    border-bottom: 0px solid var(--background-modifier-border);
    padding: 18px 0;
    background-color: inherit;
}

.initiative-tracker-additional-container .initiative-tracker-players {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr auto;
    gap: 0.5rem;
}

.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player {
    display: contents;
}
.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player
    > *:not(:first-child) {
    text-align: center;
}
.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player
    .initiative-tracker-player-icon {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}
.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player.headers {
    font-weight: bolder;
}
.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player.headers
    .clickable-icon {
    color: var(--text-normal);
}
.initiative-tracker-settings
    .initiative-tracker-additional-container
    .initiative-tracker-players
    .initiative-tracker-player.headers
    .clickable-icon:hover {
    color: var(--text-normal);
}

.initiative-tracker-settings .initiative-synced {
    border-top: 0px;
    margin: 0 2rem;
    padding-top: 0;
}
.initiative-tracker-settings .initiative-synced .setting-item-name {
    color: var(--interactive-success);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.initiative-tracker-settings .initiative-tracker-monster-filter {
    position: sticky;
    top: -5px;
    padding-top: 5px;
    background-color: inherit;
    z-index: 1;
}

.initiative-tracker-settings
    .initiative-tracker-file-upload
    > input[type="file"] {
    display: none;
}

.initiative-tracker-additional-container > .additional {
    margin: 6px 12px;
}
.initiative-tracker-additional-container > .additional > .setting-item {
    border-top: 0;
    padding-top: 9px;
}
.initiative-tracker-additional-container
    > .additional
    > .setting-item
    > .setting-item-control
    > *:first-child {
    margin: 0 6px;
}
.initiative-tracker-settings .initiative-status-item .setting-item-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all;
    overflow: hidden;
}

.tooltip.initiative-tracker-condition-tooltip {
    text-align: left;
    word-break: keep-all;
}

.block-language-encounter .encounter-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.initiative-tracker-settings .coffee {
    width: 60%;
    color: var(--text-faint);
    margin: 1rem auto;
    text-align: center;
}
.initiative-tracker-settings .coffee img {
    height: 30px;
}

.creature-view-container {
    padding: 0.5rem;
}

.creature-view-container .creature-statblock-container {
    display: flex;
    justify-content: center;
}

.creature-view-container .statblock .column {
    max-width: 400px;
    width: 100%;
}
.creature-view-container .creature-view-button {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: 5px;
}

.initiative-tracker-encounter-line {
    display: inline-block;
}

.initiative-tracker-settings details > summary {
    outline: none;
    display: block !important;
    list-style: none !important;
    list-style-type: none !important;
    min-height: 1rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    cursor: pointer;
    position: relative;
}

.initiative-tracker-settings details > summary::-webkit-details-marker,
.initiative-tracker-settings details > summary::marker {
    display: none !important;
}

.initiative-tracker-settings details > summary > .collapser {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    content: "";
}

.initiative-tracker-settings details > summary > .collapser > .handle {
    transform: rotate(0deg);
    transition: transform 0.25s;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-image: var(--admonition-details-icon);
    mask-image: var(--admonition-details-icon);
    width: 20px;
    height: 20px;
}

.initiative-tracker-settings details[open] > summary > .collapser > .handle {
    transform: rotate(90deg);
}
.initiative-tracker-settings details > summary {
    border-bottom: 1px solid var(--background-modifier-border);
}
.initiative-tracker-settings details > summary {
    border-bottom: 1px solid var(--background-modifier-border);
}

.initiative-tracker-warning {
    color: var(--text-error);
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.initiative-tracker-settings details > summary + .setting-item,
.initiative-tracker-explanation + .setting-item {
    border-top: 0;
}

.initiative-tracker-explanation {
    padding-top: 16px;
}

.initiative-tracker-cancel {
    display: flex;
    justify-content: flex-end;
}
