.obsidian-initiative-tracker .initiative-tracker-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.obsidian-initiative-tracker .initiative-tracker-buttons > *:not(:last-child) {
    margin-right: 0.25rem;
}

.obsidian-initiative-tracker .initiative-add-creature-container {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    margin-right: 0.5rem;
}

.obsidian-initiative-tracker .initiative-tracker-table {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.obsidian-initiative-tracker .initiative-tracker-table.no-creatures {
    align-items: center;
}

.obsidian-initiative-tracker
    .initiative-tracker-table
    .initiative-tracker-creature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.obsidian-initiative-tracker
    .initiative-tracker-table
    .initiative-tracker-creature:not(:last-child) {
    border-bottom: 1px solid var(--background-modifier-border-focus);
}
